{% if answer == "0" %}
    <a href="{{ path("MadwaysKommunalomatBundleQuestionAnswer", {'weight': question_weight})  }}" class="button small radius success">▴</a>
{% elseif answer == "1" %}
    <a href="{{ path("MadwaysKommunalomatBundleQuestionAnswer", {'weight': question_weight})  }}" class="button small radius">-</a>
{% elseif answer == "2" %}
    <a href="{{ path("MadwaysKommunalomatBundleQuestionAnswer", {'weight': question_weight})  }}" class="button small radius alert">▾</a>
{% endif %}
