{% extends "MadwaysKommunalomatBundle::admin.html.twig" %}

{% block title "Kommunalomat Karlsruhe" %}

{% block content_admin %}
    <h3>Neue Frage</h3>
    <div class="panel">
      {{ form(form) }}
    </div>
{% endblock %}