{% extends "MadwaysKommunalomatBundle::admin.html.twig" %}

{% block title "Kommunalomat Karlsruhe" %}

{% block content %}
  <div class="medium-8 medium-offset-2 columns">
    <h3>Neue Frage</h3>
    <div class="panel">
      {{ form(form) }}
    </div>
  </div>
{% endblock %}